* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80vw;
  margin: 40px auto;
  min-height: 40vh;
  padding: 25px;
  border: 2px solid steelblue;
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 20vw;
  padding: auto;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 10vh;
}